<ion-header>
  <ion-toolbar color="blue">
    <ion-title>Séries</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="swiper-no-swiping">

  <div class="filme">
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="opacidade">
          <img src="https://image.tmdb.org/t/p/w220_and_h330_face/zd8mxIfGY8SlupYd9XvK3qJL91B.jpg" class="poster">
        </ion-col>

        <ion-col size="6" class="opacidade">
          <div>
            <h5 class="center"> La Casa de Papel (2017)</h5>
          </div>
          <div class="center">
            <ion-button fill="outline" color="light" size="small">
              <ion-icon name="play-outline"></ion-icon>
              Assistir
            </ion-button>

            <ion-button fill="outline" color="light" size="small">
              <ion-icon name="bookmark-outline"></ion-icon>
              Adicionar
            </ion-button>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>


  <ion-segment (ionChange)="segmentChanged($event)" class="segmento" value="detalhes">
    <ion-segment-button value="detalhes">

      <ion-icon name="add-outline"></ion-icon>

    </ion-segment-button>

    <ion-segment-button value="sinopse">

      <ion-icon name="document-text-outline"></ion-icon>

    </ion-segment-button>
    <ion-segment-button value="avaliar">

      <ion-icon name="star-outline"></ion-icon>

    </ion-segment-button>
  </ion-segment>

  <ion-slides>
    <ion-slide>
      <div class="informacoes-detalhes">
        <h6 class="center">DETALHES</h6>
        <div class="center">
          <p> Estreou em 24/04/2020 </p>
          <p>Álex Pina <b> Creator </b></p>
          <span class="tipofilme">TV-MA</span>
          <p> Crime, Drama</p>

          <span class="duracao">1h 10m</span>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="informacoes sinopse">
        <h6> SINOPSE</h6>
        <p>
          Um homem misterioso que atende pelo nome de El Profesor, está planejando o maior assalto do século. A fim de
          realizar o ambicioso plano ele recruta uma gangue de oito pessoas com certas habilidades que não tem nada a
          perder. O objetivo é infiltrar na Casa da Moeda, de modo que eles possam imprimir 2,4 bilhões de euros. Para
          fazer isso eles precisam de onze dias de reclusão, durante o qual eles vão ter que lidar com sessenta e sete
          reféns e as forças da Polícia de Elite, com cenas de muita ação e planos brilhantes de El Profesor.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="informacoes">
        <h6> AVALIAÇÕES </h6>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div style="display: inline;">
                <div class="c100 p84 small green">
                  <span>84%</span>
                  <div class="slice">
                    <div class="bar">
                    </div>
                    <div class="fill">
                    </div>
                  </div>
                </div>


                <p> <b>Avaliação dos usuários</b> </p>
              </div>
            </ion-col>



            <ion-col size="12">
              <div style="display: inline;">
                <ion-button class="botoes" size="small">
                  <ion-icon name="list-outline"></ion-icon>
                </ion-button>
                <ion-button class="botoes" size="small">
                  <ion-icon name="heart-outline"></ion-icon>
                </ion-button>
                <ion-button class="botoes" size="small">
                  <ion-icon name="bookmark-outline"></ion-icon>
                </ion-button>
                <ion-button class="botoes" size="small">
                  <ion-icon name="star-outline"></ion-icon>
                </ion-button>
              </div>

            </ion-col>

            <ion-col size="12">
              <div style="display:inline;">
                <ion-icon name="star" class="icone"> </ion-icon>
                <ion-icon name="star" class="icone"> </ion-icon>
                <ion-icon name="star" class="icone"> </ion-icon>
                <ion-icon name="star" class="icone"> </ion-icon>
                <ion-icon name="star" class="icone"> </ion-icon>
              </div>
            </ion-col>
            <ion-col size="12">
              <ion-button color="success" fill="outline" size="small" class="center">
                Fazer Login
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
  </ion-slides>


  <h5 class="titulo">Temporadas</h5>
  <div class="accordions">
    <div class="accordion-item">
      <input type="radio" name="accordion" checked="checked" id="accordion-1" />
      <label for="accordion-1">Temporada 1 (2017)</label>
      <div class="accordion-content">13 Episódios
        <ion-button fill="outline" color="light" size="small">
          <ion-icon name="eye-outline"></ion-icon>
          &nbsp;Ver
        </ion-button>
      </div>
    </div>
    <div class="accordion-item">
      <input type="radio" name="accordion" id="accordion-2" />
      <label for="accordion-2">Temporada 2 (2017)</label>
      <div class="accordion-content">9 Episódios
        <ion-button fill="outline" color="light" size="small">
          <ion-icon name="eye-outline"></ion-icon>
          &nbsp;Ver
        </ion-button>
      </div>
    </div>
    <div class="accordion-item">
      <input type="radio" name="accordion" id="accordion-3" />
      <label for="accordion-3">Temporada 3 (2019)</label>
      <div class="accordion-content">8 Episódios
        <ion-button fill="outline" color="light" size="small">
          <ion-icon name="eye-outline"></ion-icon>
          &nbsp;Ver
        </ion-button>
      </div>
    </div>
    <div class="accordion-item">
      <input type="radio" name="accordion" id="accordion-4" />
      <label for="accordion-4">Temporada 4 (2020)</label>
      <div class="accordion-content">8 Episódios
        <ion-button fill="outline" color="light" size="small">
          <ion-icon name="eye-outline"></ion-icon>
          &nbsp;Ver
        </ion-button>
      </div>
    </div>
  </div>


  <div>
    <h5 class="titulo"> Elenco </h5>
    <ion-chip class="elenco">
      <ion-avatar>
        <img src="https://image.tmdb.org/t/p/w138_and_h175_face/wZkK15LnloSAhzs1jxI3AZbR6f0.jpg">
      </ion-avatar>
      <ion-label>Úrsula Corberó</ion-label>
      <p>&nbsp;| Tokyo</p>
    </ion-chip>

    <ion-chip class="elenco">
      <ion-avatar>
        <img src="https://image.tmdb.org/t/p/w138_and_h175_face/2TGPhdpRC5wjdFEJqnLYiN5kbwg.jpg">
      </ion-avatar>
      <ion-label>Álvaro Morte</ion-label>
      <p>&nbsp;| El Profesor</p>
    </ion-chip>

    <ion-chip class="elenco">
      <ion-avatar>
        <img src="https://image.tmdb.org/t/p/w138_and_h175_face/6OrC7CNSAMsf7Y96iPc53jIpmFr.jpg">
      </ion-avatar>
      <ion-label>Itziar Ituño</ion-label>
      <p>&nbsp;| Lisboa </p>
    </ion-chip>

    <ion-button color="light" size="small" class="botao">
      Ver mais
    </ion-button>
  </div>

  <div>
    <h5 class="titulo" id="trailer"> Trailer </h5>
    <iframe width="280" height="157" src="https://www.youtube.com/embed/ZpBrBop30m4" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
      class="trailer"></iframe>
  </div>
</ion-content>