<ion-header>
  <ion-toolbar color="blue">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="medium">
  <ion-card routerLink="/chernobyl">
    <ion-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/900tHlUYUkp7Ol04XFSoAaEIXcT.jpg">
    </ion-header>

    <ion-item color="dark">
      <h1> Chernobyl <span> (2019)</span> </h1>
    </ion-item>
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-MA</span> <span class="duracao">1h10m</span>
        <p>Drama</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2> Sinopse </h2>
        <p> Aqui é contada a história da explosão que aconteceu na Usina Nuclear de Chernobyl. Em 1986, na Ucrânia, o
          acidente dizimou dezenas de pessoas e acabou por se tornar o maior desastre nuclear da história. Enquanto o
          mundo lamentava o ocorrido, o cientista Valery Legasov (Jared Harris), a física Ulana Khomyuk (Emily Watson) e
          o vice-presidente do Conselho de Ministros Boris Shcherbina (Stellan Skarsgård) tentam descobrir as causas do
          acidente.</p>
      </div>
    </ion-item>
  </ion-card>


  <ion-card routerLink="/la-casa-de-papel">
    <ion-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/xGexTKCJDkl12dTW4YCBDXWb1AD.jpg">
    </ion-header>

    <ion-item color="dark">
      <h1> La Casa de Papel <span> (2017)</span> </h1>
    </ion-item>
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-MA</span> <span class="duracao">1h10m</span>
        <p>Crime, Drama</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2> Sinopse </h2>
        <p> Um homem misterioso que atende pelo nome de El Profesor, está planejando o maior assalto do século. A fim de
          realizar o ambicioso plano ele recruta uma gangue de oito pessoas com certas habilidades que não tem nada a
          perder. O objetivo é infiltrar na Casa da Moeda, de modo que eles possam imprimir 2,4 bilhões de euros. Para
          fazer isso eles precisam de onze dias de reclusão, durante o qual eles vão ter que lidar com sessenta e sete
          reféns e as forças da Polícia de Elite, com cenas de muita ação e planos brilhantes de El Profesor.</p>
      </div>
    </ion-item>

  </ion-card>
</ion-content>