<ion-header>
  <ion-toolbar color="blues">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>The Boys </h2>
      <p> 2019 &nbsp;&nbsp;&nbsp; 18 &nbsp;&nbsp;&nbsp; 1 temporada </p>
      <ion-button color="danger" size="small"> ASSISTIR </ion-button>
      <ion-button fill="outline" color="light" size="small"> EPISÓDIOS </ion-button>
    </div>
    <div>
    </div>
  </div>

  <ion-grid>
    <h1> Populares </h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/5DS1Xh1dxfrR1H0sqATPxkwWFzi.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/jsi2UM64Mhr6NmY1LKeeCuZOaCo.jpg">
      </ion-col>
    </ion-row>
    <h1> Em cartaz </h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/zEae3Y5gB7e8Z3LZWsMWZcrsf92.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/okaAPDmZdIfmE1I5DFxo6iHG5IR.jpg">
      </ion-col>
    </ion-row>

    <h1> Próximas Extreias </h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/mDYG6e2ycBoG8YzSz1nW28t2Gxe.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/o049120fR2fvpGugw7iXYP0bV0H.jpg">
      </ion-col>
    </ion-row>

    <h1> Mais bem avaliados </h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/iGZX91hIqM9Uu0KGhd4MUaJ0Rtm.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/c01Y4suApJ1Wic2xLmaq1QYcfoZ.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>