<ion-header>
  <ion-toolbar color="blues">
    <ion-title>
      Animações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/dbz.jpg">
      </ion-thumbnail>
      <ion-label>
        Dragon Ball Z: Kai
      </ion-label>
      <div slot="end" class="c100 p59 small orange">
        <span>59%</span>
        <div class="slice">
          <div class="bar">
          </div>
          <div class="fill">
          </div>
        </div>
      </div>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/familyguy.jpg">
      </ion-thumbnail>
      <ion-label>
        Family Guy
      </ion-label>
      <div slot="end" class="c100 p66 small orange">
        <span>66%</span>
        <div class="slice">
          <div class="bar">
          </div>
          <div class="fill">
          </div>
        </div>
      </div>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/scooby.jpg">
      </ion-thumbnail>
      <ion-label>
        O que há de novo, Scooby Doo?
      </ion-label>
      <div slot="end" class="c100 p76 small green">
        <span>76%</span>
        <div class="slice">
          <div class="bar">
          </div>
          <div class="fill">
          </div>
        </div>
      </div>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/thesimpsons.jpg">
      </ion-thumbnail>
      <ion-label>
        Os Simpsons
      </ion-label>
      <div slot="end" class="c100 p74 small green">
        <span>74%</span>
        <div class="slice">
          <div class="bar">
          </div>
          <div class="fill">
          </div>
        </div>
      </div>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/looneytunes.jpg">
      </ion-thumbnail>
      <ion-label>
        Looney Tunes Show
      </ion-label>
      <div slot="end" class="c100 p73 small green">
        <span>73%</span>
        <div class="slice">
          <div class="bar">
          </div>
          <div class="fill">
          </div>
        </div>
      </div>
    </ion-item>


  </ion-list>


</ion-content>